* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-bg-color: #3c3836;
  /* --primary-font-color: #8ec07c; */
  --primary-font-color: black;
  --primary-heading-color: #cc241d
}

.pokeball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokeball.hide {
  visibility: hidden;
}

.pokemon-list-card-hide {
  display: none;
}

body {
  font-family: Arial;
  font-size: 10px;
  color: var(--primary-font-color);
  position: relative;
  background: #333844;
  font-family: "pkmn", monospace;
}

nav {
  width: 100%;
  text-align: center;
  padding: 10px;
  /* border: 1px solid red; */
  font-size: 20px;
  color: var(--primary-heading-color);
  text-shadow: 0 0.15em 0 rgba(0, 0, 0, 0.6666666667);
}

.search-wrapper {
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 25px;
}

#search {
  padding: 10px 50px;
  width: 45%;
  font-size: 14px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  /* border: 1px solid red; */
  font-weight: bold;
}

.content-box {
  width: 700px;
  height: 700px;
  /* border: 2px solid black; */
  border-radius: 10px;
  margin-top: 50px;
  display: flex;
  padding: 5px;
  box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
}

.card {
  width: 50%;
  height: 100%;
  padding: 5px;
}

.pokemon-info {
  background-color:#458588;
}

.pokemon-list-container {
  background-color: #d79921;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
}

.pokemon-name-card {
  background-color: #e4b352;
  padding: 15px;
  text-transform: capitalize;
}

.pokemon-name-card:hover {
  background-color: #e4b3524f;
}

.pokemon-name-card:active {
  background-color: #ffe9bd;
}

footer {
  font-size: 14px;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: black;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: none;
  color: red;
}

footer a:active {
  color: #d79921;
}

@media (max-width: 768px) {

  #search {
    width: 90%;
  }

  .content-box {
    flex-direction: column;
    gap: 5px;
  }

  .pokemon-info {
    overflow-y: auto;
  }

  .card {
    width: 95%;
    margin: 0 auto;
  }

  footer {
    padding: 50px 10px;
    gap: 10px;
    font-size: 12px;
    text-align: center;
  }
}